body{
    background-color: #b9e7e7;
}
 h1{
     color: #668FBF;
 }

 h3{
     color: #66BFBF;
 }

 hr {
     border-style: none;
     border-top-style: dotted;
     border-color: grey;
     border-width: 5px;
     width: 5%;
 }